<%= form_for(@session_item) do |f| %>
  <% if @session_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session_item.errors.count, "error") %> prohibited this session_item from being saved:</h2>

      <ul>
      <% @session_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_id  %><br>
    <%= f.select(:item_id, Item.order("name").map {|s| [s.name, s.id]}) %>
  </div>
  <div class="field">
    <%= f.label :session_id %><br>
    <%= f.select(:session_id, Session.order("id").map {|s| [s.name, s.id]}) %>
  </div>
  <div class="field">
    <%= f.label :session_qty %><br>
    <%= f.number_field :session_qty %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
