<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @session_item.item.name %>
</p>

<p>
  <strong>Session:</strong>
  <%= @session_item.session.name %>
</p>

<p>
  <strong>Session qty:</strong>
  <%= @session_item.session_qty %>
</p>

<p>
  <strong>Note:</strong>
  <%= @session_item.note %>
</p>

<%= link_to 'Edit', edit_session_item_path(@session_item) %> |
<%= link_to 'Back', session_items_path %>
